window#main-window {
    --toolbar-bgcolor: #111111 !important;
    --lwt-accent-color: #111111 !important;
    --lwt-toolbar-field-background-color: #111111 !important;
    --lwt-toolbar-field-color: #cccccc !important;
    --chrome-content-separator-color: none !important;
    --backbutton-background: none !important;
    --arrowpanel-background: #111111 !important;
    --arrowpanel-border-color: #111111 !important;
    --lwt-sidebar-background-color: #111111 !important;
	margin: 10px 2px 0px 2px !important;
}  
textbox {
    background-color: #111111 !important;
    border: none !important;
}
.sidebar-placesTree {
    background-color: #111111 !important;
    border: none !important;
}
:root[lwt-popup-brighttext] {
    --panel-separator-color: #111111 !important;
    border: none !important;
}
#sidebar-header {
    border: none !important;
}
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar[brighttext] > #PanelUI-button {
    border-image-source: linear-gradient(transparent, transparent) !important;
}

#urlbar,
#searchbar {
    border: none !important;
}
#identity-box,
#tracking-protection-icon-container,
#.urlbar-icon, .tab-icon-image {
#    display: none !important;
#}
#toolbar-menubar:not([autohide="true"])+#TabsToolbar .tabbrowser-tab>.tab-stack>.tab-background,
:root:not([tabsintitlebar]) .tab-background,
:root[extradragspace] .tab-background {
    border-top: 0 !important;
}
.tab-line {
    height: 0 !important;
}

#page-action-buttons>*:not(#star-button-box),
.urlbar-history-dropmarker {
    opacity: 0 !important;
}
#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}
/* Removal of black bottom 1px line */
#navigator-toolbox::after {
    display: none !important;
}
menubar,
menubutton,
menulist,
menu,
menuitem,
textbox,
toolbar,
tab,
tree,
.tree-rows {
    font-family: 'Consolas', monospace !important;
    font-size: 11t !important;
    font-weight: bold;
    font-style: normal !important;
    -moz-appearance: none !important;
    color: var(--color7) !important;
}
#navigator-toolbox {
    --tabs-border-color: none !important;;

}
/* This removes the tab separators */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
    display: none !important;
}
.tab-background[selected=true] {
  color: #111111 !important;
}
.tabbrowser-tab {
    /* transition: color 0.25s !important; */
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabbrowser-tab[selected="true"], .tab-label-container[selected="true"] {
  color: #c33dab !important;
  /* background-color: var(--color3) !important; */
  /* background-image: linear-gradient(var(--color3), var(--color3)) !important; */
}
.chromeclass-location {
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
    
}
.urlbarView:not(.megabar) {
    box-shadow: none !important;
    background-color: #111111 !important;
    font-family: 'Consolas', monospace !important;
    font-size: 10pt !important;
}
.urlbarView-favicon {
    display: none !important;
}
.urlbarView-row[selected] {
    background: #c33dab !important;
    color: #111111 !important;
    fill-opacity: 1 !important;
}
.sidebar-splitter {

    -moz-appearance: none;
    border: none !important;
}     
.customization-target {
    padding: 0px !important;   
}

:root{
  --uc-menu-bkgnd: rgb(17,17,17);
  --uc-menu-color: rgb(230,230,230);
  --uc-menu-dimmed: rgba(255,255,255,0.1);
  --uc-menu-disabled: rgb(50,50,50);
  --thin-tab-width: 30px;
  --wide-tab-width: 200px;
}

#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--wide-tab-width) !important;
	max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	position: relative !important;
	transition: all 300ms !important;
	min-width: var(--thin-tab-width) !important;
	max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    transition: all 200ms !important;
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;

    z-index:1;

	/* Negative right-margin to keep page from being pushed to the side. */
    margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}
/* Sidebar min and max width removal */
#sidebar {
	max-width: none !important;
	min-width: 0px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
	display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}

#TabsToolbar {
	visibility: collapse;
}
panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
panel input,
menupopup,
menu,
menuitem{ -moz-appearance: none !important; }

menulist,
menuitem,
menu{ min-height: 1.8em }

panel menulist{ border: 1px solid transparent }

panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
panel input,
panel #searchbar,
menupopup:not(#BMB_bookmarksPopup),
#main-menubar > menu > menupopup,
#context-navigation{
  color: var(--uc-menu-color) !important;
  padding: 2px;
  background-color: var(--uc-menu-bkgnd) !important;
  border-color: var(--uc-menu-disabled) !important;
}

panel textbox input{ padding: 2px !important; }

panel input{ border-width: 1px; border-style: solid; background-color: rgba(0,0,0,0.1) !important; }
panel #searchbar{ background-color: rgba(0,0,0,0.1) !important; padding: 0 !important; }
panel #searchbar input{ background-color: transparent !important; }

panel menulist:hover,
panel menulist[open]{ border-color: Highlight !important; }

#editBMPanel_folderMenuList > menupopup > menuitem{ color: var(--uc-menu-color) !important; }

panel treechildren::-moz-tree-row(selected),
panel button:hover,
menu:hover,
menu[_moz-menuactive],
menu[open],
menuitem:hover,
menuitem[_moz-menuactive]{ background-color: var(--uc-menu-dimmed) !important; color: inherit !important; }

menu[disabled="true"],
menuitem[disabled="true"]{ color: var(--uc-menu-disabled) !important; }

menu:not(.subviewbutton) > .menu-right{ filter: invert(1) }

/* Create a placeholder for buttons */
#urlbar-container:hover ~ .toolbarbutton-1:not([open]),
#urlbar-container:hover ~ #stop-reload-button > .toolbarbutton-1,
#nav-bar > #nav-bar-customization-target:hover ~ toolbarbutton:not([open]),
#nav-bar > #nav-bar-customization-target:hover ~ toolbaritem:not([open]),
toolbar .toolbarbutton-1:not([open]),
.titlebar-button,
#tabbrowser-tabs toolbarbutton,
toolbarbutton.scrollbutton-up[orient="horizontal"],
toolbarbutton.scrollbutton-down[orient="horizontal"]{
  background-image: radial-gradient(circle at center, var(--lwt-toolbarbutton-icon-fill,currentColor) 0,var(--lwt-toolbarbutton-icon-fill,currentColor) 10%,transparent 15% );
}
/* Hide placeholder on hover */
toolbar:hover .toolbarbutton-1,
.titlebar-buttonbox:hover > .titlebar-button,
#tabbrowser-tabs:hover toolbarbutton,
toolbarbutton.scrollbutton-up[orient="horizontal"]:hover,
toolbarbutton.scrollbutton-down[orient="horizontal"]:hover{ background-image: none }

#urlbar-container:hover ~ .toolbarbutton-1:not([open]) > *,
#urlbar-container:hover ~ #stop-reload-button > .toolbarbutton-1 > *,
#nav-bar > #nav-bar-customization-target:hover ~ toolbarbutton:not([open]) > *,
#nav-bar > #nav-bar-customization-target:hover ~ toolbaritem:not([open]) > *,
#titlebar:hover ~ toolbar .toolbarbutton-1 > *,
toolbar .toolbarbutton-1 > *,
#tabbrowser-tabs toolbarbutton > *,
toolbarbutton.scrollbutton-up[orient="horizontal"] > .toolbarbutton-icon,
toolbarbutton.scrollbutton-down[orient="horizontal"] > .toolbarbutton-icon,
.titlebar-button > *{
  transform: scale(0);
  transition: transform 82ms linear !important;
}

toolbar:hover .toolbarbutton-1:not(#PanelUI-menu-button) > *,
#nav-bar-overflow-button:hover + #PanelUI-button > .toolbarbutton-1 > stack,
#PanelUI-menu-button:hover > stack,
#tabbrowser-tabs:hover toolbarbutton > *,
toolbarbutton.scrollbutton-up[orient="horizontal"]:hover > .toolbarbutton-icon,
toolbarbutton.scrollbutton-down[orient="horizontal"]:hover > .toolbarbutton-icon,
.toolbarbutton-1[open] > *,
.titlebar-buttonbox:hover > .titlebar-button > *{
  transform: scale(1)
}

/* Urlbar icons, this way they show colors is applicable */
.urlbar-icon{ transition: transform 82ms linear !important; }
#urlbar:not(:hover) .urlbar-icon:not([open]){ transform: scale(0.3) }

/* The menu button has some margin on non-compact density which creates annnoying transitions */
/* Lets remove that as well as border since this is minimal style anyway */
#PanelUI-button{ border-left: 0px !important; margin-left: 0px !important; }

/* Add a glow-effect to some buttons when it has some "alert" */
#nav-bar:not(:hover) > #PanelUI-button > #PanelUI-menu-button[badge-status],
#navigator-toolbox:not(:hover) #downloads-button[attention]{
  filter: brightness(2) drop-shadow(0 0 3px orange) drop-shadow(0 0 1px orange);
}
#nav-bar:not(:hover) > #PanelUI-button > #PanelUI-menu-button[badge-status^="update"],
#navigator-toolbox:not(:hover) #downloads-button[attention="success"]{
  filter: brightness(2) drop-shadow(0 0 2px cyan) drop-shadow(0 0 1px cyan);
}

:root[inDOMFullscreen] #statuspanel{ display: none !important }

#statuspanel #statuspanel-label,
statuspanel .statuspanel-label {
  background-color: #111111 !important;
  border: 1px none #111111 !important;
  border-top-style: solid !important;
  color: white !important;
}

/* This moves the tabs under the URL bar */
#titlebar {
    -moz-box-ordinal-group: 3 !important;
  }
  
  
/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button{
  display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}



